name: Go Dependency Submission
on:
  push:
    branches:
      - main
    paths:
      - "internal/**"

# The API requires write permission on the repository to submit dependencies
permissions:
  contents: write

jobs:
  go-action-detection:
    runs-on: ubuntu-latest
    env:
      GO_VERSION: '1.25.5'

    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v6

      - name: Install Golang
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run snapshot action
        uses: actions/go-dependency-submission@v2
        with:
          go-mod-path: go.mod
          go-build-target: cmd/main.go