name: Unit Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - "internal/**"

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest
    env:
      GO_VERSION: '1.25.5'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Golang
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Go modules and build cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests (internal)
        run: go test ./internal/...
